html, body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.outter-container{
    padding-left: 15%;
    padding-right: 15%;
}
@media screen and (max-width:959px) {
    .outter-container{
        padding-left: 0;
        padding-right: 0;
    }
}
.container {
    width: 900px !important;
    height: 100% !important;
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5% !important;
}
p{
    text-align: center;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.my-row{
    min-height: 50%;
    overflow: hidden;
}
/*centering kit */
.outer-wrapper{
    position: relative;
    height: 100%;
}
.inner-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dashed-border-bottom {
    border-bottom: 5px dashed #333;
}
/*styling navbar*/
.my-navbar{
    border: 0 !important;
    background: #fff !important;
}
nav a{
    text-transform: uppercase;
    color: #000 !important;
}
nav button{
    border: 0 !important;
}
/*END OF styling navbar*/
/*styling first*/
#first{
    background: white;
}
#first .container {
    text-align: center;
    width: 950px !important;
}
#first .wrapper {
    height: 1000px;
    width: 100%;
    background-image: url("images/bam.png");
    background-repeat: no-repeat;
    background-size: contain;
}
    /*RESPONSIVE first*/
    @media screen and (max-width:959px) {
        #first .wrapper{
            height: 667px;
            background-size: cover;
            background-image: url("images/bam-s.png");
        }
    }
    /*END OF RESPONSIVE first*/
/*END OF styling first*/
/*styling about me*/
#about .block {
    overflow: hidden;
}
#about .pink-box {
    background: #e2af5d;
    opacity: 0.3;
    width: 90%;
    height: 250px;
    transform: translateX(20%) translateY(-80%);
}
#about .one{
    margin-bottom: -10%;
}
#about .two{
    margin-top: -10%;
    transform: translateX(-10%) translateY(50%);
}
#about .section1 .image{
    height: 500px;
    background-image: url("images/palma-left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about .section2 .image{
    height: 500px;
    background-image: url("images/palma-right.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
    /*styling text div*/
    #about .language{
        font-style: oblique;
    }
    #about p{
        text-align: left;
        margin-left: 5%;
        font-size: 1.5vw;
    }
    .text-outer-wrapper{
        position: relative;
        height: 100%;
    }
    .text-inner-wrapper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    /*END OF styling text div*/
    /*END OF RESPONSIVE about*/
        @media screen and (max-width:959px) {
            #about .pink-box{
                height: 320px;
                transform: translateX(20%) translateY(-90%);
            }
            #about .block {
                min-height: 300px;
                height: auto;
            }
            #about p{
                font-size: 4vw;
                margin-left: 0;
            }
            #about .section1 .image{
                background-image: url("images/palma-left-s.jpg");
            }
            #about .section2 .image{
                background-image: url("images/palma-right-s.jpg");
            }
            #about .one{
                margin-bottom: -120%;
            }
            #about .two{
                margin-top: -120%;
                transform: translateX(-10%) translateY(90%);
            }
        }
    /*RESPONSIVE about*/
/*END OF styling about me*/
/*styling modelling*/

#modelling .block {
    height: 300px;
    padding: 15px;
}
#modelling .block .outer-wrapper{
    position: relative;
    height: 100%;
    background: #d8d6d6;
}
#modelling .block .inner-wrapper{
    transform: translateX(-50%) translateY(-50%);
}
#modelling  p{
    font-size: 80px !important;
    font-weight: 500;
    color: #fff;
}
    /*styling pic blocks*/
    #modelling .block .outer-wrapper:hover{
        background-image: url("images/front.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #modelling .block .outer-wrapper.pic1:hover{
        background-image: url("images/front.jpg");
    }
    #modelling .block .outer-wrapper.pic2:hover{
        background-image: url("images/sports.jpg");
    }
    #modelling .block .outer-wrapper.pic3:hover{
        background-image: url("images/fashion.png");
    }#modelling .block .outer-wrapper.pic4:hover{
        background-image: url("images/lifestyle.png");
    }
    #modelling .block .outer-wrapper:hover  p{
        opacity: 0.5;
    }

    @media screen and (max-width:959px) {
        #modelling  p{
            font-size: 7vw !important;
            font-weight: 700;
            color: #fff;
        }
        #modelling .block .outer-wrapper{
            background-image: url("images/front.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.7;
        }
        #modelling .block .outer-wrapper.pic1{
            background-image: url("images/front-s.jpg");
        }
        #modelling .block .outer-wrapper.pic2{
            background-image: url("images/sports-s.jpg");
        }
        #modelling .block .outer-wrapper.pic3{
            background-image: url("images/fashion-s.png");
        }#modelling .block .outer-wrapper.pic4{
            background-image: url("images/lifestyle-s.png");
        }
        #modelling .block .outer-wrapper:hover  p{
            opacity: 0.5;
        }
    }
    /*END OF styling pic blocks*/
/*END OF styling modelling*/
/*styling info*/

#info{
    background: white;
}
#info .container {
    text-align: center;
    width: 950px !important;
}
#info .wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
}
#info .inner-wrapper{
    transform: translateX(-50%) translateY(0) !important;
}
#info .pic{
    height: 600px;
    width: 100%;
    background-image: url("images/side2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (max-width:959px) {
    #info .pic{
        background-image: url("images/side2-s.jpg");
        background-size: contain;
    }
    #info h1{
         white-space: nowrap;
         font-size: 7vw;
    }
}
/*END OF styling info*/
/*styling campagnes*/

#campagnes{
    background: white;
}
#campagnes .container {
    text-align: center;
    width: 950px !important;
}
#campagnes .wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    height: auto;
}
iframe{
    height: 275px;
    width: 520px;
}
.wideo-wrapper{
    position: absolute !important;
}
/*styling labels */
.marken {
    width: auto;
    height: 500px;
}
.marken .logos {
    background-image: url("images/logos/fitbit.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}
#l1 {
    background-image: url("images/logos/fitbit.png");
}
#l2 {
    background-image: url("images/logos/mac.png");
}
#l3 {
    background-image: url("images/logos/freeletics.png");
}
#l4 {
    background-image: url("images/logos/defshop.png");
}
#l5 {
    background-image: url("images/logos/jj.png");
}
#l6 {
    background-image: url("images/logos/puma.png");
}
#l7 {
    background-image: url("images/logos/johnreed.png");
}
#l8 {
    background-image: url("images/logos/desigual.png");
}
#l9 {
    background-image: url("images/logos/b4g.png");
}
#l10 {
    background-image: url("images/logos/bamoli.png");
}
#l11 {
    background-image: url("images/logos/vattenfall.png");
}
#l12 {
    background-image: url("images/logos/outfit.png");
}
#l13 {
    background-image: url("images/logos/rankin.png");
}

/*END OF styling labels */
@media screen and (max-width:959px) {
    iframe{
        height: 225px;
        width: 345px;
    }
    #campagnes .wrapper {
        height: auto;
    }
    .wideo-wrapper{
        position: static !important;
    }
}
    /*END OF styling link blocks*/
/*END OF styling campagnes*/
/*styling contact*/
#contact{
    background-image: url("images/black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#contact .block {
    min-height: 100px;
    height: auto;
}
#contact .wrapper{
    margin-bottom: 0;
}
#icon {
    color: #fff;
    font-size: 7em !important;
    margin-right: 10px;
}
#contact p{
    text-align: left;
    font-size: 1.0em !important;
    font-weight: 400;
    color: #fff;
    text-transform: none;
     white-space: nowrap;
}
#contact .text{
margin-top: 2%;
}
.me, .bbp {
    height: 50px;
    width: 223px;
    background-image: url("images/me.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bbp {
    height: 50px;
    width: 223px;
    background-image: url("images/bbp.png");
}
@media screen and (max-width:959px) {
    #contact p{
        font-size: 0.8em !important;
         white-space: nowrap;
        text-align: center;
    }
    #contact .text{
    margin-top: 2%;
    }
    #icon {
        font-size: 4.5em !important;
        margin-left: 5px;
    }
}
/*END OF styling contact*/
